html {
  overflow: auto;
}

.blogs, #blog {
	min-height: 100px;
}

body {font-family: 'Helvetica Neue', Helvetica, sans-serif;}
h1 {background: no-repeat url('../images/tumblr.png');width:420px;height:120px;text-indent:-9999em;}
#container {margin: 0 auto; width: 95%;}
