html {
  overflow: auto;
}

.blogs, #blog {
	min-height: 100px;
}

body {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0px;
}

#container {
	margin: 20px;
	width: 95%;
}

#logo {
	background: no-repeat url('../images/tumblr.png');
	width: 300px;
	height:90px;
}

.cool-image {
	border: 1px solid #555;
	display: block;
	float: left;
	margin: 10px;
	width: 96px;
	height: 96px;
	box-shadow: 5px 5px 10px #aaa;
}

.cool-image-big {
	width: 128px;
	height: 128px;
	margin: 0px;
}

.desc h2 {
	margin: 0px;padding: 0px;
}

.desc a, .desc a:visited {
	font-size: 15px;
	text-decoration: none;
}

h2 {
	font-family: 'Helvetica Neue';
	font-weight: lighter;
	font-size: 36px;
	margin: 0px 10px;
}

hr {
	border: 1px solid #ccc;
	margin: 20px 0px;
	border-bottom: none;
}

small {
	color: #777;
	padding: 0px 10px;
	font-size: 1.2em;
}

small a, small a:visited {
	color: #444;
}
