<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The name of the app</title>
    <!-- Include the stylesheets you need for the Views components -->
    <!-- See https://developer.spotify.com/technologies/apps/docs/preview/views/ -->
    <link rel="stylesheet" href="$views/css/image.css">
    <link rel="stylesheet" href="$views/css/list.css">
    <link rel="stylesheet" href="$views/css/buttons.css">
    <!-- <link rel="stylesheet" href="$views/css/throbber.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <!-- If you are using the preview SDK for webplayer then uncomment the script below -->
    <!--script src="http://d1hza3lyffsoht.cloudfront.net/preview-sdk/bootstrap.js"></script-->
  </head>
  <body>
		<div id="container"></div>
    <script src="scripts/main.js"></script>

		<script type="text/template" id="blogs-template">
			<h2>Blogs you follow</h2>
			<div class="blogs"></div>
		</script>

		<script type="text/template" id="blog-card-template">
			<a href="spotify:app:tumblr:blogName:<%= name %>">
				<img src="<%= avatar64 %>">
				<%= title %>
			</a>
		</script>

		<script type="text/template" id="blog-header-template">
			<h2>Recent from <%= title %></h2>
			<a href="<%= url %>"><%= url %></a>
		</script>

		<script type="text/template" id="blog-template">
			<a href="spotify:app:tumblr">back to friends</a>
			<div id="blog"></div>
		</script>

  </body>
</html>
